/* || DISPLAY: GRID */

.about-article {
    display: grid;
    grid-template-columns: 68px 1fr 68px;
    grid-template-areas: 
    "head head head"
    "text text text"
    ;
    row-gap: 3.125em;
}

.about-header {
    grid-area: head;
}

.article-text {
    grid-area: text;
}



/* || DISPALY: FLEX */

.about-header {
    display: flex;
    flex-flow: column;
    row-gap: 1.6875em;
}



/* || IMAGES */

.profile-img {
    max-width: 182px;
}



/* || LAYOUT */

.about-article {
    padding-top: 1.625em;
    padding-bottom: 2.8125em;
}

.about-heading h1 {
    padding-bottom: 0.470588em;
}

/* || TYPOGRAPHY */

.about-heading h1 {
    font-size: 2.125rem;
    font-weight: 700;
    line-height: 1.08;
}



/* || MEDIA QUERIES */

@media (min-width: 800px) {

    /* || DISPLAY: GRID */

    .about-article {
        grid-template-areas: 
        "head head head"
        ".    text    ."
        ;
        row-gap: 4.0625em;
    }


    /* || LAYOUT */

    .about-article {
        padding-top: 5.625em;
        padding-bottom: 3.1875em;
    }



    /* || DISPALY: FLEX */

    .about-header {
        flex-flow: row;
        align-items: center;
        column-gap: 2.0625em;
    }
}
